@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');
.body {
  font-family: 'Roboto', sans-serif;
}

.heading {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ff9800;
  font-weight: 500;
  font-size: 40px;
  margin-left: 40%;
}

.row {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #ff9800;
  min-height: 450px;
  display: flex;
}

.card {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
  border-radius: 10px;
  display: flex;
  width: 20rem;
  height: 250px;
}

.col-md-4 {
  margin-top: 40px;
}
